* {
  margin: 0;
  /*font-family: 'Monoton', cursive;*/
  /*font-family: 'Luckiest Guy', cursive;*/
}
canvas {
  position: relative;
  top: 100px;
  display: block;
  margin: auto;
}

ul {
  padding: 0;   
  margin: 50px;
  text-align: center;
  
}

h1 {
  font-size: 100px;
  font-family: 'Monoton', cursive;
  font-weight: 500;
  color: #B5DA45;
  text-align: center;
  padding-top: 120px;
}

.hidden {
  display: none;
}

.start-screen {
  display: relative;
  top: 20px;

  height: 700px;
  width: 1100px;
  background-color: #44413B;
  margin: 20px auto;
  font-family: 'Luckiest Guy', cursive;
}

.start-screen img {
  height: 30px;
  background-color: #44413B;
}

.start-button {
  border-style: none;
  width: 300px;
  height: 70px;
  background-color: #7B766C;
  font-family: 'Luckiest Guy', cursive;
  font-size: 36px;
  margin: auto;
  display: block;
  padding-top: 14px;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 0 10px 3px #B5DA45;
}


.fa {
  margin-right: 8px;
}

.game-background {
  height: 700px;
  width: 1100px;
  background-color: #7ec0ee;
  background-image: url('images/Spring-Cover.png');
  background-size: 1100px 700px;
  background-repeat: no-repeat;
  margin: 20px auto;
}

.instructions {
  display: inline-block;
  font-size: 24px;
  margin-right: 25px;
}